<template>
  <div class="ct_box" >
    <div @click="switchmode" :class="{ct_active_but:!learnmode,ct_disactive_but:learnmode}" class="ct_button">背题模式</div>
  </div>
</template>
<script>
import './app.less'
import logo from '../public/icon.jpg'
export default {
  data: function() {
    return {
      learnmode: false,
      answer:[]
    }
  },
  methods:{
    switchmode()
    {
      this.learnmode = !this.learnmode

      if(this.learnmode === true)
      {
        let i;
        for (i = 0; i < this.answer.length; i++) {
          this.answer[i].classList.add("ct_learnmode")
        }
      }
      else
      {
        let i;
        for (i = 0; i < this.answer.length; i++) {
          this.answer[i].classList.remove("ct_learnmode")
        }
      }
    }
  },
  mounted () {
    document.getElementById('rightHeight').style.padding = '44px 0 0 0'
    this.answer = document.getElementsByClassName('mark_answer')
  }
}
</script>
<style scoped>
</style>
