.ct_box
{
  width: 240px;
  height: 80px;
  position: fixed;
  top:90px;
  left: calc(50% - 580px);
  margin-left: 920px;
}
.ct_button
{
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  cursor: pointer;
  border: solid 1px #3A8BFF;
  border-radius: 8px;
  height: 32px;
  line-height: 32px;
  text-align: center;
}
.ct_active_but
{
  color: #3A8BFF;
  background-color: white;
}
.ct_disactive_but
{
  color: white;
  background-color: #3A8BFF;
}
.ct_learnmode
{
  opacity: 0;
  bottom: -10px;
  transition-duration: 200ms;
}
.ct_learnmode:hover
{
  opacity: 1;
  bottom: 0;
  transition-duration: 200ms;
}
.ct_learnmode .colorDeep
{
  width: 0;
  height: 0;
  opacity: 0;
}
.ct_learnmode .analysisDiv
{
  width: 0;
  height: 0;
  opacity: 0;
}
.ct_learnmode .mark_score
{
  width: 0;
  height: 0;
  opacity: 0;
}